.ic-process-animation{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__lottie{
        width: 60% !important;
        height: 425px;
    }
    &__scrollable{
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__container{
            height: 100%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        &__text{
            max-width: 420px;
            margin-left: 130px;
            margin-top: 530px;
            height: 100%;
            position: sticky;
            top: 30%;
            transition: all 0.5s ease-in-out;
            background-color: $background;
            
            &.hide{
                opacity: 0;
                transform: translateY(-50px);
            }
            &:not(.hide) {
                opacity: 1;
            }
            &__slash{
                font-size: 36px;
                line-height: 43px;
                letter-spacing: 0.02em;
                color: #776AF6;
            }
            &__title{
                margin-top: 10px;
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                letter-spacing: 0.02em;
            }
            &__description{
                margin-top: 40px;
                font-size: 24px;
                line-height: 33px;
                letter-spacing: 0.01em;
            }
        }

    }
}