.testimonial-card{
    width: 330px;
    min-height: 317px;
    position: relative;
    @include mobile{
        width: 240px;
        min-height: 240px;
    }
    &__logo{
        height: 40px;
        margin-bottom: 40px;
        @include mobile{
            margin-bottom: 30px;
        }
    }
    &__content{
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 33px;

        letter-spacing: 0.01em;

        color: #FFFFFF;
        @include mobile{
            font-size: 16px;
            line-height: 22px;
        }
    }
    &__footer{
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        top: 308px;
        letter-spacing: 0.02em;

        @include mobile{
            font-size: 14px;
            line-height: 17px;
            top: 200px;
        }
    }
}