.h-carousel{
    width: 100%;
    height: 397px;
    // overflow-y: scroll;

    @include mobile {
        height: 270px;
    }


    &__content{
        width: 100%;
        height: 397px;
        margin: 0;
        display: grid;
        grid-gap: calc(var(--gutter) / 2);
        grid-template-columns: repeat(3, calc(50% - var(--gutter) * 2)); // change 3 for the number of items
        grid-template-rows: minmax(150px, 1fr);
        
        scroll-snap-type: x proximity;
        padding-bottom: calc(.75 * var(--gutter));
        margin-bottom: calc(-.25 * var(--gutter));
        list-style: none;
        padding: 0;
        @include mobile{
            overflow-x: scroll;
            height: 270px;
            grid-template-columns: repeat(3, calc(78% - var(--gutter) * 2)); // change 3 for the number of items            
        }
        div{
            width: 310px;
            @include mobile{
                width: 240px;
            }
        }

        scrollbar-color: #fff #c4c4c4;
        &::-webkit-scrollbar {
            height: 6px;
            width: 120px;
            margin: 50px;
            cursor: pointer;
        }

        &::-webkit-scrollbar-track {
            height: 1px;
            background: #c4c4c4;
            margin-right: 50px;
            background-clip: content-box;
            cursor: pointer;
          }
          
          &::-webkit-scrollbar-thumb {
              padding: 100px;
              background: #fff;
              outline: 1px solid #fff;
              height: 3px;
              border-radius: 2px;
              cursor: pointer;
        }

        ::-webkit-scrollbar-thumb {
            cursor: pointer;
            &::end{
                margin-right: 50px; 
            }
          }
          
        ::-webkit-scrollbar-thumb {
            &::start{
                margin-left: 50px;
            }
          }

        & li{
            height: 317px;
            width: 330px;
            scroll-snap-align: center;
            padding: calc(var(--gutter) / 2 * 1.5);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include mobile{
                width: 260px;
                height: 260px;
            }
        }
    }
}

:root {
    --gutter: 194px; // space between cards
    @include mobile{
        --gutter: 0px; // space between cards
    }
    @include tablet{
        --gutter: 120px; // space between cards
    }
}