.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 52px 70px 116px 70px;

    &__logo{
        width: 104px;
        height: 35px;
        &:hover{
            height: 35px;
            width: 104px;
            background-image: url('/assets/logo-hover.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 4px;
            cursor: pointer;
            img{
                opacity: 0;
                width: 100px;

            }
        }
    }

    &__content{
        // width: 30%;
        // display: flex;
        // justify-content: space-evenly;
        // align-items: center;
        a{
            color: #fff;
            text-decoration: none;
            padding: 30px;

            &:hover{
                color: $purple;
            }

            &.active{
                color: $purple;
            }
        }
    }
}
