.tag{
    width: fit-content;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #fff;
        padding: 6px 16px;
    }
}
