.ic-moov-wrapper{
    // padding: 0 70px;
    height: $contentHeight;
    width: 100%;
    &__title{
        text-align: center;
        padding-bottom: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid #FFFFFF;
        @include mobile{
            padding-bottom: 20px;
        }
        &__name{
            font-size: 24px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 0.02em;

            color: #BC473B;
            @include mobile{
                font-size: 16px;
                line-height: 19px;
            }
        }
        &__text{
            margin-top: 20px;
            font-size: 48px;
            letter-spacing: 0.02em;
            line-height: 55px;
            text-align: center;
            color: #fff;
            @include mobile{
                font-size: 32px;
                line-height: 38px;
            }
        }
        &__details{
            margin-top: 38px;
            display: flex;
            justify-content: space-between;
            width: 260px;
            @include mobile{
                justify-content: center;
                margin-top: 0;
            }
            &__date{
                font-size: 16px;
                line-height: 18px;
                text-align: right;
                letter-spacing: 0.02em;

                color: #C4C4C4;
                @include mobile{
                    padding: 20px;
                }
            }
            &__website{
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
                color: #FFF;
                @include mobile{
                    padding: 20px;
                }
            }
        }
    }
    &__description{
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
        &__text{
            font-size: 24px;
            line-height: 33px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            width: 640px;
            @include mobile{
                font-size: 16px;
                line-height: 24px;
                width: 100%;
            }
        }
        &__tags{
            width: 260px;
            height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            .tag{
                height: 28px;
            }
            @include mobile{
                width: 100%;
                margin-top: 20px;
                align-items: flex-start;
                justify-content: space-around;
                height: 180px;
            }
        }
    }
    &__gallery{
        margin-top: 80px;
        img{
            width: 100%;
            margin-bottom: 40px;
            @include mobile{
                margin-bottom: 20px;
            }
        }
    }
    &__final{
        margin-top: 120px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-bottom: 200px;
        @include mobile{
            margin-top: 20px;
        }
        &__text{
            font-size: 36px;
            line-height: 41px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            @include mobile{
                width: 100%;
                font-size: 20px;
                line-height: 24px;
            }
        }
        &__img{
            margin-top: 180px;
            position: relative;
            &__logo{
                width: 157px;
                height: 66px;
                position: absolute;
                left: 440px;
                top: 0;
                @include mobile{
                    width: 60px;
                    height: 25px;
                    left: 176px;

                }

            }
            @include mobile{
                width: 100%;
                margin-top: 80px;
                img{
                    width: 100%;
                }
            }
        }
    }
}