$mainBlack: #0C151A;
$background: #0C151A;
$purple: #776AF6;


$gradient: -webkit-linear-gradient(255.96deg, #62F9BB 0%, #776AF6 100%);
$borderGradient: linear-gradient(255.96deg, #62F9BB 0%, #776AF6 100%);


