$menuHeight: 146px;
$mainPadding: 70px;
$contentHeight: calc(100% - $menuHeight);

// responsive stuff
$screen-mobile: 428px;
$screen-tablet: 1024px;
$screen-desktop: 1440px;

// Small devices
@mixin mobile {
    @media (max-width: #{$screen-mobile}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin tablet {
    @media (min-width: #{$screen-mobile}) and  (max-width: #{$screen-desktop}) {
        @content;
    }
 }
 
 // Large devices
 @mixin desktop {
    @media (min-width: #{$screen-desktop}) {
        @content;
    }
 }